
<div class="container">

    <form ng-submit="saveTask()">
        <div class="form-group">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="title"ng-model="Task.title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Choose Project</label>
            <select class="form-control" id="exampleFormControlSelect1" name="projects"  ng-model="Task.project_id" ng-if="projects.length">
                <option ng-repeat="project in projects" value="{{project.id}}">{{project.title}}</option>
            </select>
        </div>
        <div class="form-group">

            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Description" rows="3"ng-model="Task.content"></textarea>
        </div>
        <button type="submit" class="btn btn-info">
            {{button}}
        </button>
    </form>
</div>
