<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="btn btn-success" href="#!/tasks/new">Add Task <span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="search">

            </form>
        </div>
    </nav>
</div>

<div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">TITLE</th>
                        <th scope="col">Content</th>

                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="Task in Tasks |filter:search">

                        <th scope="row">{{Task.id}}</th>
                        <td>{{Task.title}}</td>
                        <td>{{Task.content}}</td>
                        <td>
                            <a href="#!/tasks/edit/{{Task.id}}" class="btn btn-info">Edit</a>
                            <a href="#" ng-click="removeTask(Task.id)" class="btn btn-danger">Delete</a>
<!--                            <a href="#!/tasks/show/{{Task.id}}" class="btn btn-warning">Details</a>-->
                            <button ng-if="Task.status=='1'" ng-click="fe_status(Task)" class="btn btn-success"><i class="material-icons">Finished</i></button>
                            <button ng-if="Task.status=='0'" ng-click="fe_status(Task)" class="btn btn-secondary"><i class="material-icons">notFinished</i></button>

                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

<!--<div class="card-block">-->
<!--    <div class="dt-responsive table-responsive">-->
<!--        <table id="simpletable" class="table table-striped table-bordered nowrap">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>ID</th>-->
<!--                <th>Title</th>-->
<!--                <th>Description</th>-->
<!--                <th>Action</th>-->

<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr ng-repeat="Task in Tasks |filter:search">-->
<!--                <td>{{Task.id}}</td>-->
<!--                <td>{{Task.title}}</td>-->
<!--                <td>{{Task.content}}</td>-->
<!--                <td>-->
<!--                    <a href="#!/tasks/edit/{{Task.id}}" class="btn btn-primary btn-sm btn-block">Edit</a>-->
<!--                    <a href="#" ng-click="removeTask(Task.id)" class="btn btn-primary btn-sm btn-block">Delete</a>-->
<!--                    <button ng-if="Task.status=='1'" ng-click="fe_status(Task)" class="btn btn-primary btn-sm btn-block"></button>-->
<!--                    <button class="btn btn-primary btn-sm btn-block">Browse Gallery</button>-->
<!--                </td>-->
<!--                <td>$320,800</td>-->
<!--                <td>Tiger Nixon</td>-->
<!--            </tr>-->


<!--            </tfoot>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->