
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="btn btn-success" href="#!/projects/new">Add Project <span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="search">

            </form>
        </div>
    </nav>
</div>

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">TITLE</th>
            <th scope="col">Content</th>

                <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="Project in Projects |filter:search">
            <th scope="row">{{Project.id}}</th>
            <td>{{Project.title}}</td>
            <td>{{Project.content}}</td>
            <td>
                <a href="#!/projects/edit/{{Project.id}}" class="btn btn-info">Edit</a>
                <a href="#" ng-click="removeProject(Project.id)" class="btn btn-danger">Delete</a>
                <a href="#!/projects/show/{{Project.id}}" class="btn btn-warning">Details</a>

            </td>
        </tr>

        </tbody>
    </table>
</div>
