


            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input placeholder="search"  type="text" ng-model="search">
            </div>
            <div class="row">
            <a style="margin-left: 40px; background-color: #d55252" href="#!/projects/new" class="waves-effect waves-light btn-large">Add Project</a>
            <a style="margin-left: 40px; background-color: #d55252" href="#!/tasks" class="waves-effect waves-light btn-large">All Tasks</a>
            </div>
            <div class="row">

                <div ng-repeat="Project in Projects |filter:search" class="col s12 m3">
                    <div class="card" style="background-color: #ffe7d1" >
                        <div class="card-content white-text"  style="background-color: #fc7978">
                            <span class="card-title">{{Project.title}}</span>
                            <p>{{Project.content}}</p>
                        </div>
                        <div class="card-action">
                            <a href="#!/projects/edit/{{Project.id}}" class="btn-floating btn-large waves-effect waves-light yellow"><i class="material-icons">edit</i></a>
                            <a href="#" ng-click="removeProject(Project.id)" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
                            <a href="#!/projects/show/{{Project.id}}" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">remove_red_eye</i></a>
                        </div>
                    </div>
                </div>
            </div>


