
<div class="card">
    <div class="card-header">
        Details
    </div>
    <div class="card-body">
        <h5 class="card-title">{{Project.projects.title}}</h5>
        <p class="card-text"> Description{{Project.projects.content}}</p>
        <p class="card-text">Finished Tasks :
            {{ ((Project.all_tasks - Project.not_finished_tasks) * 100 / Project.all_tasks).toFixed(1)  }}%
<!--            Finished Tasks{{Project.projects.finished_tasks}}-->
        </p>
        <p class="card-text"> Not Finished Tasks :
<!--            {{Project.projects.not_finished_tasks}}-->
            {{ ((Project.all_tasks - Project.finished_tasks) * 100 / Project.all_tasks).toFixed(1) }}%
        </p>

        <a href=#!/projects" class="btn btn-primary">Back</a>
    </div>
</div>